:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(0, 0, 0);
    --secondary: rgb(80, 80, 80);
    --tertiary: rgb(150, 150, 150);
    --content: rgb(0, 0, 0);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: rgb(20, 20, 20);
    --entry: rgb(30, 30, 30);
    --primary: rgb(255, 255, 255);
    --secondary: rgb(180, 180, 180);
    --tertiary: rgb(100, 100, 100);
    --content: rgb(240, 240, 240);
    --code-block-bg: rgb(25, 25, 25);
    --code-bg: rgb(50, 50, 50);
    --border: rgb(70, 70, 70);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}